In [11]:
import pacepredictor
import importlib
importlib.reload(pacepredictor)

pp = pacepredictor.Predictor()

In [12]:
input_path = "/home/adam/concept2-logbook-scraper/analysis/"
pp.load_csvs(input_path)

# Merge Athletes and Workouts

Want one row per athlete, with each workout a different column time/distance a different column

Could have mutliple results per event over several years -> just take the most recent

Could have multiple results per type of machine -> just use rowing for now

In [14]:
pp.df_workouts = pp.df_workouts.sort_values(by=["profile_id", "year","event"], ascending=False)
pp.df_workouts

,Unnamed: 0,adaptive_cat,affil,age,country,distance,event,gender,machine,pos,profile_id,time,verified,weight_class,workout_id,year
0,106963,able,solo,43,EST,10000,10000,M,rower,6227,1472433,2571.6,Yes,H,52499015,2021
1,112855,able,solo,38,CAN,10000,10000,F,rower,1282,1472423,3202.8,Yes,H,52497877,2021
2,42887,able,solo,22,URU,1000,1000,M,rower,45,1472313,177.0,Yes,H,52491233,2021
3,49822,able,solo,17,FIN,1000,1000,F,rower,266,1472309,230.4,Yes,H,52492183,2021
4,84000,able,solo,46,GBR,5000,5000,M,rower,9761,1472269,1304.7,Yes,H,52488223,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308238,177659,able,"Concept2, Inc, Morrisville, VT",66,USA,1000,1000,F,rower,1257,31,255.9,Yes,H,40334323,2020
308239,242248,able,"Concept2, Inc, Morrisville, VT",55,USA,29266,60,M,bikeerg,180,21,3600.0,Yes,H,40934698,2020
308240,331826,able,"Concept2, Inc, Morrisville, VT",54,USA,40000,40000,M,bikeerg,62,21,80.0,Yes,H,36048566,2019
308241,313672,able,"Concept2, Inc, Morrisville, VT",53,USA,10000,10000,M,rower,1614,21,2373.7,Yes,H,33610282,2019
308242,235986,able,"Concept2, Inc, Morrisville, VT",72,USA,1000,1000,M,skierg,583,17,228.8,Yes,H,40313770,2020

In [17]:
df_workouts_grouped = pp.df_workouts[:100000].groupby(by=["profile_id","event"])
df_workouts_grouped.first()

                  Unnamed: 0 adaptive_cat    affil  age country  distance  \
profile_id event
1283218    1000        44653         able     solo   48     USA      1000
           2000       184693         able     solo   47     USA      2000
           10000      109548         able     solo   49     USA     10000
1283224    1            5333         able  FitWaco   25     USA       309
           100         30915         able  FitWaco   25     USA       100
...                      ...          ...      ...  ...     ...       ...
1472269    5000        84000         able     solo   46     GBR      5000
1472309    1000        49822         able     solo   17     FIN      1000
1472313    1000        42887         able     solo   22     URU      1000
1472423    10000      112855         able     solo   38     CAN     10000
1472433    10000      106963         able     solo   43     EST     10000

                 gender machine   pos    time verified weight_class  \
profile_id event
1283218    1000       M   rower  1826   207.0       No            H
           2000       M   rower  1951   419.0      Yes            H
           10000      M   rower  8814  2771.7       No            H
1283224    1          F   rower    74    60.0       No            H
           100        F   rower    73    18.4      Yes            H
...                 ...     ...   ...     ...      ...          ...
1472269    5000       M   rower  9761  1304.7      Yes            H
1472309    1000       F   rower   266   230.4      Yes            H
1472313    1000       M   rower    45   177.0      Yes            H
1472423    10000      F   rower  1282  3202.8      Yes            H
1472433    10000      M   rower  6227  2571.6      Yes            H

                  workout_id  year
profile_id event
1283218    1000     51451949  2021
           2000     39890613  2020
           10000    52339736  2021
1283224    1        44843347  2021
           100      49800364  2021
...                      ...   ...
1472269    5000     52488223  2021
1472309    1000     52492183  2021
1472313    1000     52491233  2021
1472423    10000    52497877  2021
1472433    10000    52499015  2021

[90871 rows x 14 columns]

In [18]:
df_workouts_grouped.size().sort_values(ascending=False).value_counts()

1    82160
2     8350
3      306
4       53
5        2
dtype: int64