In [19]:
import pacepredictor as pp
import importlib
import plotly.express as px
import pandas as pd
import numpy as npa

importlib.reload(pp)

file_path = "./"
file_5_2_10 = "5_2_10.csv"

pp_5_2_10 = pp.Predictor(f"{file_path}{file_5_2_10}", random_state=42, dummies=False)

pp_5_2_10.df = pp_5_2_10.df.drop(["adaptive_rowing_category","weight_class", "profile_id"], axis=1)

pp_5_2_10.split_data()

In [20]:
col_y = "time_2000"
cols_x = pp.get_cols_x(pp_5_2_10.df, col_y)


pp_5_2_10.add_model("Linear", co_y, cols_x, 1, "First order model, using all vars")
pp_5_2_10.models["Linear"].iterate()

pp_5_2_10.models["Linear"].iterations[0].fit()

                            OLS Regression Results
==============================================================================
Dep. Variable:              time_2000   R-squared:                       0.768
Model:                            OLS   Adj. R-squared:                  0.768
Method:                 Least Squares   F-statistic:                     3297.
Date:                Mon, 29 Mar 2021   Prob (F-statistic):               0.00
Time:                        14:41:17   Log-Likelihood:                -23828.
No. Observations:                4993   AIC:                         4.767e+04
Df Residuals:                    4987   BIC:                         4.771e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     97.6799     12.495      7.817      0.000      73.183     122.177
time_5000      0.2011      0.006     32.755      0.000       0.189       0.213
time_10000     0.0660      0.003     23.173      0.000       0.060       0.072
age            0.5016      0.036     14.041      0.000       0.432       0.572
height        -0.4295      0.062     -6.959      0.000      -0.551      -0.309
weight         0.0843      0.030      2.773      0.006       0.025       0.144
==============================================================================
Omnibus:                     6511.041   Durbin-Watson:                   1.976
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          4995179.093
Skew:                           6.682   Prob(JB):                         0.00
Kurtosis:                     157.376   Cond. No.                     8.97e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.97e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [21]:
pp_5_2_10.models["Linear"].iterations[0].predict()
pp_5_2_10.models["Linear"].iterations[0].df_test

,time_5000,time_2000,time_10000,age,height,weight,time_2000_pred,squared_error,error
0,1154.9,436.1,2358.0,71,180.3,68.9,449.465923,178.647889,13.365923
1,1181.2,440.5,2653.7,51,188.0,79.8,461.844885,455.604127,21.344885
2,1511.2,573.7,3218.5,46,165.1,64.9,571.541194,4.660443,2.158806
3,1190.7,448.3,2492.0,48,182.9,101.2,455.574859,52.923577,7.274859
4,1079.1,411.8,2224.0,43,190.5,102.1,409.754639,4.183500,2.045361
...,...,...,...,...,...,...,...,...,...
1065,1258.8,476.3,2914.1,61,175.3,83.0,505.370768,845.109572,29.070768
1066,1177.1,449.6,2398.0,42,177.8,79.4,443.982286,31.558705,5.617714
1067,1108.6,434.9,2293.7,43,190.5,86.2,418.945801,254.536452,15.954199
1068,1136.5,429.7,2388.0,46,190.5,88.0,432.434415,7.477024,2.734415
1069,1124.3,428.9,2306.7,37,185.4,73.0,421.029566,61.943731,7.870434

In [22]:
pp_5_2_10.models["Linear"].iterations[0].stats()

Mean squared error: 773.4
Mean error: 15.7